#masonry-myphotos {
    .box {
        width: 370px;
    }
    .panel {
        margin: 5px;
    }
}

#masonry-new {
    .panel {
        margin: 0%;
    }
}

.user {
    img {
        width: 70px;
        height: 70px;
        position: relative;
        display: inline;
        border-radius: 5px;
        object-fit: cover;
    }
    h4 {
        position: relative;
        display: inline;
        left: 10px;
    }
    .leigh {
        position: relative;
        display: inline;
        left: -188px;
        top: 20px;
    }
    .profile_photo {
        height: 150px;
        width: 150px;
        object-fit: cover;
        // margin: 0 auto;
    }
}
