// --------------Panels------------------------------
// If you want to chnage the look of panels, you should
// go to http://getbootstrap.com/customize first and see
// if there is a built-in panel variables.
//
// If not, then modify the look or extend panels here.
//
//
// Example:
//
<<<<<<< HEAD
.panel{
  color: $navbar-default-color;
=======
.panel_design{
	margin: 10% 0%;
	border-color: $navbar-default-bg;
	.btn-primary{
		background-color: $navbar-default-bg;
		border-style: none;
	}
	.h2{
		margin: 15%;
	}
>>>>>>> develop
}