@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Barrio:300,400,700);
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
$font-family-sans-serif: "Lato";
$font-family-barrio: "Barrio";
$headings-font-weight: 300;
$brand-primary: darken(#428bca, 6.5%);
$navbar-default-bg: white;
$navbar-default-border: white;
$navbar-default-link-color: black;
$navbar-default-link-hover-bg: lighten( $brand-primary, 50%);
$navbar-default-link-active-bg: lighten( $brand-primary, 30%);
$body-bg: white;
$slideup-navbar-height: 150px;
$border-radius-base: 2px;
$border-radius-large: 2px;
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'components/slideup_header';
// $slideup-navbar-height: $navbar-height !default;

$paleAqua: #B9D6F2;
$maastrichBlue: #061A40;
$mediumElectricBlue: #0353A4;
$honoluluBlue: #006DAA;
$prusianBlue: #003559;

body {
	background: white;
}
.splash {
		background: #F6F6F6;
		height: auto;
		position: relative;

    h1{
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 2rem;
			font-weight: 300;
			padding: 3rem 10rem;

			@media screen and (max-width: 800px) {
				text-align: center;
			}
    }
}

.s1{
	background: $maastrichBlue;
	height: 50rem;
	width: 100%;
	display: flex;
	justify-content: space-around;

	&-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media screen and (max-width: 800px){
			margin-left: 5rem;
		}
	}
}

.s2 {
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(black, .2), rgba(black, .2)), url('https://res.cloudinary.com/rentapp/image/upload/v1546928713/malte-wingen-381978-unsplash_y8ecdi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -5%;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);

	@media screen and (max-width: 800px){
		-webkit-clip-path: none;
		clip-path: none;
		margin-top: 0;
	}
}

.s3 {
	height: 60vh;
	width: 100%;
	background: $prusianBlue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -5%;

	&-wrapper {
		display: flex;
		flex-direction: column;
		margin: 5rem;
		justify-content: center;
		align-items: center;
	}
}

// buttons

.btn-s1{
	padding: 1.5rem 2.5rem;
	border-radius: 5px;
	background: white;
	color: $navbar-default-link-color;
	font-size: 1.5rem;
	text-align: center;
	width: 50%;
	text-transform: uppercase;
	transition: all .3s ease-out;
	margin-bottom: 2rem;

	@media screen and (max-width: 800px){
		width: 75%;
	}

	@media screen and (max-width: 500px){
		width: 90%;
	}

	&:hover{
		text-decoration: none;
		background: $maastrichBlue;
		border: 1px solid white;
	}
}

.btn-s2{
	color: white;
	border: 3px solid white;
	width: 15%;
	text-align: center;
	border-radius: 3px;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	margin-top: 2rem;
	transition: all .25s ease-in-out;

	@media screen and (max-width: 800px){
		width: 25%;
	}

	@media screen and (max-width: 500px){
		width: 40%;
	}

	&:hover{
		background: white;
		color: $mediumElectricBlue;
		text-decoration: none;
	}
}

.btn-s3{
	@extend .btn-s1;
	width: 15%;

	@media screen and (max-width: 800px){
		width: 25%;
	}

	@media screen and (max-width: 500px){
		width: 40%;
	}
}

.btn-heading_login{
	position: absolute;
	top: 0;
	right: 0;
	margin: 2rem 10rem;
	padding: .75rem 2rem;
	border-radius: 5px;
	border: 2px solid $maastrichBlue;
	text-align: center;
	color: white;
	background: $maastrichBlue;
	transition: all .3s ease;

	@media screen and (max-width: 800px) {
		visibility: hidden;
	}

	&:hover{
		text-decoration: none;
		background: white;
		border: 2px solid $maastrichBlue;
	}
}

.btn-heading_register{
	position: absolute;
	top: 0;
	right: 7.5%;
	margin: 2rem 10rem;
	padding: .75rem 2rem;
	border-radius: 5px;
	text-align: center;
	color: black;
	border: 1px solid $maastrichBlue;
	transition: all .3s ease;

	@media screen and (max-width: 800px) {
		display: none;
	}

	&:hover{
		text-decoration: none;
		color: white;
		background: $maastrichBlue;
	}
}

// text

.text-info{
	color: white;
	line-height: 1rem;
	letter-spacing: 1px;
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: 100;

	@media screen and (max-width: 800px){
		line-height: 2rem;
	}

	&_sub {
		font-size: 1.5rem;
		color: white;
		letter-spacing: 1px;
		font-weight: 100;
	}
}

//image

.img-s{
	height: 70%;
	width: 50%;
	align-self: center;
	object-fit: cover;
}

.footer{
	height: 15rem;
	width: 100%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s4{
	height: 70vh;
	width: 100%;
	background-image: linear-gradient(rgba(black, .2), rgba(black, .2)), url('https://res.cloudinary.com/rentapp/image/upload/v1546928713/william-bayreuther-586504-unsplash_daubaa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&-wrapper {
		display: flex;
		flex-direction: column;
	}
}

.bg {
	width: 55rem;
	height: 30rem;
	position: relative;
	align-self: center;

	@media screen and (max-width: 800px) {
		visibility: hidden;
	}
}

.bg > figure {
  animation: fade 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
 	height: 100%;
	width: 100%;
  left: 0px;
  position: absolute;
  top: 0px;

  &:nth-child(1) {
    background-image: url('https://res.cloudinary.com/rentapp/image/upload/v1546928708/yingchou-han-241463-unsplash_vzl5qp.jpg');
  }

  &:nth-child(2) {
    animation-delay: 10s;
    background-image: url('https://res.cloudinary.com/rentapp/image/upload/v1546928726/charley-pangus-782885-unsplash_bngynq.jpg');
  }

  &:nth-child(3) {
    animation-delay: 16s;
    background-image: url('https://res.cloudinary.com/rentapp/image/upload/v1532492969/bg-small_a8fyc9.jpg');
  }

  &:nth-child(4) {
    animation-delay: 22s;
    background-image: url('https://res.cloudinary.com/rentapp/image/upload/v1547123900/casey-horner-1265504-unsplash_jmqcag.jpg');
  }

  &:nth-child(5) {
    animation-delay: 28s;
    background-image: url('https://res.cloudinary.com/rentapp/image/upload/v1547123901/ken-wyatt-1273496-unsplash_vmon6s.jpg');
  }

  &:nth-child(6) {
    animation-delay: 34s;
    background-image: url('https://res.cloudinary.com/rentapp/image/upload/v1535809479/daria-nepriakhina-474036-unsplash_vkjow4.jpg');
	}
	
	&:nth-child(7) {
    animation-delay: 40s;
    background-image: url('https://res.cloudinary.com/rentapp/image/upload/v1547123899/hussain-faruhaan-1265656-unsplash_qlv9xt.jpg');
  }

}

@keyframes fade {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }

  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}